@font-face {
    font-family: "NovemberPro";
    src: url("../../public/assets/fonts/november-pro/NovemberPro-Reg.eot");
    src: url("../../public/assets/fonts/november-pro/NovemberPro.eot?#iefix") format("embedded-opentype"), url("../../public/assets/fonts/november-pro/NovemberPro.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "NovemberPro-Reg";
    src: url("../../public/assets/fonts/november-pro/NovemberPro-Reg.eot");
    src: url("../../public/assets/fonts/november-pro/NovemberPro-Reg.eot?#iefix") format("embedded-opentype"), url("../../public/assets/fonts/november-pro/NovemberPro-Reg.woff") format("woff"), url("../../public/assets/fonts/november-pro/NovemberPro-Reg.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }

/* Default Styles */
.background {
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover ;
    background-color: #000000;
   
    background-image: url("../../public/assets/img/slide3.webp");
}

.about {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    padding: 20% 0;
    font-family: "NovemberPro";
}

.achieving {
    background-image: url("../../public/assets/img/bg-shape1-home5.png");
    background-repeat: no-repeat;
    background-position: right top;
    padding: 100px 0;
    /* display: flex; */
}

.container {
    width: 100%;
    margin: 50px auto 0;
    display: flex;
    min-width: 80%;
    padding: 0 10%;
    gap: 10%;
}

.titledata {
    text-align: left;
    max-width: 1300px;
    width: 50%;
    flex: 0 0 auto;
    height: 100%;
}

.image {
    vertical-align: middle;
}

.mainhead {
    font-size: 28px;
    color: #181836;
    margin-bottom: 8px;
    padding-bottom: 30px;
    font-family: "NovemberPro";
    font-weight: bold;
    
}

.des {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    line-height: 1.5;
    font-family: "NovemberPro-Reg";
  ;
}
.dess{
    font-size: 24px;
    line-height: 1.5;
    color:#333;
    font-family: "NovemberPro-Reg";

}
.des1 {
    font-size: 18px;
    color: #333;
    margin-bottom: 16px;
}

/* who we  */

.whowe {
    background-image: url("../../public//assets/img//home-bg-10-1.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #ececec;
    padding: 80px 0px 40px 0px;
  
    
    
}
.whoContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 100px 80px 40px 80px;
    display: flex;
    gap: 50px;
    align-items: center;
   
   

}
.whoweLeft{
  text-align: left;

  align-items: center;
 
}
.whoweRight{
    text-align: left;

}
.whoweHeading{
    font-weight: bold;
    font-size: 24px;
    font-family:NovemberPro ;
    line-height: 1.2;
    color: #181836;
    padding-bottom: 12px;
}
.subheading{
    font-size: 22px;
    font-family: NovemberPro-Reg;
    color:#333;
    line-height: 1.5;
}
.adjustIcon{
    color:#650909
}
  /* Core Values Css  */

.coreMain{
    background-color: #181836;
    background-position: center right;
}
.coreContainer{
    width: 100%;
    
    color: #ececec;
    padding: 6% 16% ;
    display :flex;
    /* justify-content:center ; 
    align-items: center; */
      
    flex-direction: column;
   
}
.coreBox{
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 22px 27px 0px 27px;
    margin: 0 0 20px 0;
    /* height: 300px ; */
    

}
.coresubcont1{
    padding-bottom: 80px;
    padding-left: 0;
    margin-left: 0;
}
.capabilities{
    padding-top: 80px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.2;
    font-family: NovemberPro;
    padding-bottom: 40px;
    
}

/* @media (max-width: 1200px) {
    .coreBox{
        height: 230px ;
    }
}
@media (max-width:600px) {
    .coreBox{
        height: 300px;
    }
} */
.coreBoxTitle{
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: .5rem;
    font-family:NovemberPro ;
    font-size: 26px;
}
.coreBoxDesc{
    line-height: 1.5;
    font-size: 18px;
    font-family: NovemberPro-Reg;
    padding-top: 15px;
    color: #ffffff;
    padding-bottom: 20px;
}
.coreBox1{
    box-shadow: 1px #fff;
    border-radius: 10px;
    color:#181836;
    background-color:#ffffff;
    padding: 24px 24px 24px 24px;
    


}
.coreBox1Value{
     font-weight: bold;
     line-height: 1.2;
     font-family: NovemberPro;
     font-size: 22px;
     padding-bottom: 10px;
}
.coreBox1Desc{
    line-height: 1.5;
    font-family: NovemberPro-Reg;
    font-size: 18px;
}
.coresubcont{
    text-align: center;
}
.coresubcont1{
    text-align: left;
}
 .our{
    color: #650909;
    font-size: 22px;
    line-height: 1.2;
    font-weight: bold;
    font-family: NovemberPro;
 }
 .coreTitle{
    color: #ffffff;
    font-size: 24px;
    line-height: 1.2;
    font-weight: bold;
    text-align: center  ;
    font-family: NovemberPro;
    padding-bottom: 1.5rem;
 }
 .coreDescription{
    color: #ffffff;
    font-size: 22px;
    line-height: 1.5;
    text-align: center;
    font-family: NovemberPro-Reg;
    padding-bottom: 1.5rem;
 }

/* Our Usps */

.uspMain{
    /* background-color: #ececec; */
}

.uspContainer{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /* color: #ececec; */
    padding: 3% 7%;

}

.uspBox {
    display: flex;        /* Enables Flexbox */
    flex-direction: column; /* Stacks items vertically */
    align-items: center;  /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    text-align: center;   /* Centers text inside Typography */
    border: 1px solid #ebebeb;
    border-radius: 10px;
    padding: 6%;
    
    /* transition: all 0.3s ease-in-out; */
}


.uspBox:hover {
    border-color: #ebebeb;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background-color: #fff;
}
.uspBoxTitle{
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-family: NovemberPro;
}
.uspBoxDesc{
    font-size: 18px;
    color:#333;
    line-height: 1.5;
    font-family: NovemberPro-Reg;
}

  /* Vissson and misson  */


  .visionMissonContainer {
    width: 100%;
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    padding: 20px 0px 40px 0px;
    display: flex;
    gap: 50px;
    /* flex-direction: column;  */
      /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    text-align: center;
  }

  .visionLeft{
    text-align: left;
  }
  .visionleftTitle{
    padding-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.2;
    color:#181836;
    font-family: NovemberPro;
  }
  .visionLeftSubTitle{
     font-size: 26px;
     font-weight: bold;
    font-family: NovemberPro-Reg;
     color:#333;
     line-height: 1.5;
  }
.visionDesc{
    font-size: 24px;
    color:#333;
    line-height: 1.5;
    font-family: NovemberPro-Reg;
    padding-bottom: 40px;
}
.visionRight{
    display: flex;
    align-items: center;
}
/* Responsive Styles */
@media (max-width: 1400px) {
    .container { max-width: 1320px; }
}

@media (max-width: 1200px) {
    .container { max-width: 1140px; }
}

@media (max-width: 992px) {
    .container {
        max-width: 960px;
        flex-direction: column;
        row-gap: 50px;

    }
    .whoContainer{
        flex-direction: column;
    }
    .titledata { width: 100%; }
}

@media (max-width: 768px) {
    .container { max-width: 720px; }
    .mainhead {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .des, .des1 {
        font-size: 14px;
    }
    .container{
        row-gap: 40px;
    }
}

@media (max-width: 576px) {
    .container { max-width: 540px; }
    .mainhead {
        font-size: 18px;
    }
    .des, .des1 {
        font-size: 13px;
    }
    .container{
        row-gap: 40px;
    }
}
