@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme Colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: "NovemberPro";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "NovemberPro";
}

/* Custom Fonts */
@font-face {
  font-family: "NovemberPro";
  src: url("../fonts/novemberPro/NovemberPro.ttf") format("truetype");
  font-weight: 400; /* Normal weight */
  font-style: normal;
}

@font-face {
  font-family: "NovemberPro";
  src: url("../fonts/novemberPro/NovemberPro-Reg.ttf") format("truetype");
  font-weight: 500; /* Slightly heavier weight */
  font-style: normal;
}

